@{
    Layout = "_Layout_Deslogado";
}

<div style="margin-top:50px" >

    <h3>Login</h3>

    <form method="post" asp-controller="Login" asp-action="Index">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
            @Html.ValidationMessage("Email")

        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputEmail1" name="senha" required>
            @Html.ValidationMessage("Senha")
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
        <a asp-controller="Login" asp-action="Cadastro" class="btn btn-dark">Cadastrar</a>
        <a asp-controller="Login" asp-action="Alterar" class="btn btn-light">Esqueci minha senha</a>
    </form>
    <br />

    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Mensagem"]
        </div>
    }


</div>





